.container {
  height: 80vh;
  width: 100vw;
  /* border: 1px solid black; */
}
.card {
  position: relative;
  width: 96vw;
  max-width: 720px;
  height: 80vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.message-card {
  position: absolute;
  width: 96vw;
  max-width: 720px;
  height: 80vh;
  border-radius: 20px;
  text-align: center;
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  display: flex;
  justify-content: center;
  align-items: center;
}
.message {
  color: aliceblue;
  display: flex;
  font-size: 8em;
}

.swipe {
  position: absolute;
}

.cardContainer {
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.cardContainer:first-child {
  z-index: 800;
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  height: fit-content;
  margin-top: -91px;
  margin-left: -125px;
  width: 250px;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation-name: logo-spin;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
  }
  .makeStyles-logo-2:hover {
    animation-name: logo-spin;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
  }
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.msg-exit {
  opacity: 1;
}
.msg-exit-active {
  opacity: 0.7;
  transition: opacity 700ms;
}
