.logo {
  height: fit-content;
  width: 80px;
}

.header {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 15px;
}

.container {
  height: 80vh;
  width: 100vw;
  /* border: 1px solid black; */
}
.card {
  position: relative;
  /* border: 1px solid black; */
  position: relative;
  width: 96vw;
  /* padding: 20px; */
  max-width: 720px;
  height: 83vh;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.swipe {
  position: absolute;
}

.cardContainer {
  display: flex;
  justify-content: center;
}

.tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  height: fit-content;
  margin-top: -127px;
  margin-left: -175px;
  width: 350px;
  /* border: 1px solid black; */
}

.topContainer {
  color: aliceblue;
}

@media (prefers-reduced-motion: no-preference) {
  .spinner {
    animation-name: logo-spin;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    transition-timing-function: linear;
  }
}

@keyframes logo-spin {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
